In [2]:
# importing libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [67]:
ls

airnb.csv         airnb_desert.csv  airnb_luxe.csv

## Load Datasets

In [72]:
# load csv
df_1 = pd.read_csv('../data/airnb.csv')
df_2 = pd.read_csv('../data/airnb_desert.csv', encoding="cp1252")
df_3 = pd.read_csv('../data/airnb_luxe.csv', encoding="cp1252")

## Inspecting Dataset

In [123]:
print(f"1. airnb.csv columns: {list(df_1.columns)}")
print(f"2. airnb_desert.csv columns: {list(df_2.columns)}")
print(f"3. airnb_luxe.csv columns: {list(df_3.columns)}")

1. airnb.csv columns: ['Title', 'Detail', 'Date', 'Price(in dollar)', 'Offer price(in dollar)', 'Review and rating', 'Number of bed']
2. airnb_desert.csv columns: ['Desert name', 'Date', 'Price(In dollar)', 'Details', 'Rating']
3. airnb_luxe.csv columns: ['Luxe name', 'Date', 'Price(In dollar)', 'Distance']

In [124]:
print(f"1. airnb.csv size: rows {df_1.shape[0]} and {df_1.shape[1]} columns")
print(f"2. airnb_desert.csv size: rows {df_2.shape[0]} and {df_2.shape[1]} columns")
print(f"3. airnb_luxe.csv size: rows {df_3.shape[0]} and {df_3.shape[1]} columns")

1. airnb.csv size: rows 953 and 7 columns
2. airnb_desert.csv size: rows 280 and 5 columns
3. airnb_luxe.csv size: rows 280 and 4 columns

In [128]:
df_1.dtypes

Title                     object
Detail                    object
Date                      object
Price(in dollar)          object
Offer price(in dollar)    object
Review and rating         object
Number of bed             object
dtype: object

In [129]:
df_2.dtypes

Desert name          object
Date                 object
Price(In dollar)     object
Details              object
Rating              float64
dtype: object

In [130]:
df_3.dtypes

Luxe name           object
Date                object
Price(In dollar)    object
Distance            object
dtype: object

## Handeling Null Values

In [73]:
# create a function to find columns with nulls
def null_columns(dataframe):
    has_null_list = []
    for i in range(len(dataframe.columns)):
        is_null = bool(dataframe[dataframe.columns[i]].isnull().any()) # checking to see if column has any null values
        if is_null == True:
            column_name = dataframe.columns[i]
            has_null_list.append(column_name)
    return has_null_list

In [109]:
# Apply function and print out results
first_function = null_columns(df_1)
second_function = null_columns(df_2)
third_function = null_columns(df_3)
print(first_function)
print(second_function)
print(third_function)

['Offer price(in dollar)', 'Review and rating']
['Rating']
[]

In [110]:
# Sizes of csv files
df1_shape = df_1.shape[0]
df2_shape = df_2.shape[0]

In [111]:
# Size of null values
null_shape_1 = df_1[df_1['Offer price(in dollar)'].isnull()].shape[0]
null_shape_2 = df_1[df_1['Review and rating'].isnull()].shape[0]
null_shape_2_1 = df_2[df_2['Rating'].isnull()].shape[0]

In [113]:
# Print Message
print(f" Null values in the first csv file are {round(null_shape_1/df1_shape,2)*100}% of the total file with null being in '{first_function[0]}' column")
print(f" Null values in the first csv file are {round(null_shape_2/df2_shape,2)*100}% of the total file with null being in '{first_function[1]}' column")
print(f" Null values in the second csv file are {round(null_shape_2_1/df2_shape,2)*100}% of the total file with null being in '{second_function[0]}' column")

 Null values in the first csv file are 83.0% of the total file with null being in 'Offer price(in dollar)' column
 Null values in the first csv file are 2.0% of the total file with null being in 'Review and rating' column
 Null values in the second csv file are 40.0% of the total file with null being in 'Rating' column

In [118]:
# Drop null values
df_clean = df_1.dropna(subset = ['Offer price(in dollar)'])

In [119]:
df_clean

,Title,Detail,Date,Price(in dollar),Offer price(in dollar),Review and rating,Number of bed
0,"Chalet in Skykomish, Washington, US",Sky Haus - A-Frame Cabin,Jun 11 - 16,306.00,229.00,4.85 (531),4 beds
1,"Cabin in Hancock, New York, US",The Catskill A-Frame - Mid-Century Modern Cabin,Jun 6 - 11,485.00,170.00,4.77 (146),4 beds
2,"Cabin in West Farmington, Ohio, US",The Triangle: A-Frame Cabin for your city retreat,Jul 9 - 14,119.00,522.00,4.91 (515),4 beds
3,"Home in Blue Ridge, Georgia, US",*Summer Sizzle* 5 Min to Blue Ridge* Pets* Hot...,Jun 11 - 16,192.00,348.00,4.94 (88),5 beds
4,"Treehouse in Grandview, Texas, US",Luxury Treehouse Couples Getaway w/ Peaceful V...,Jun 4 - 9,232.00,196.00,4.99 (222),1 queen bed
...,...,...,...,...,...,...,...
828,Apartment in Houston,King Suite/Sky Lounge/Luxurious Experience.,May 1 - 6,108.00,148.00,4.85 (55),2 beds
829,Cabin in Sevierville,Few days left in May,May 1 - 6,286.00,112.00,4.98 (263),1 king bed
830,Cabin in Fountain Green,"Cozy Private Mountain Cabin on 1,000 acre prop...",May 1 - 6,186.00,103.00,4.96 (78),4 beds
882,Dome in El Prado,Geodesic Earth Dome,May 1 - 6,91.00,161.00,4.9 (953),2 beds
936,Condo in Sunny Isles Beach,BEAUTIFULL CONDO IN THE HEART OF SUNNY ISLES.,May 1 - 6,151.00,159.00,4.57 (225),3 beds